#title, #caption {
    text-align: center;
    padding-top: 0.5px;
}

.imgs {
    display: flex;
    height: 150px;
    margin:auto;
}

.artist, .name, .album, .time {
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}